---
---

@import url('https://fonts.googleapis.com/css?family=Bungee+Outline');
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');

@import url('https://fonts.googleapis.com/css?family=Space+Mono');

body {
  margin: 0;
  padding: 0;
  background: #002337;
  font-family: 'Space Mono', monospace;
  color: #fff;
  
  header {
    text-align: center;
    
    span {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      display: inline-block;
      padding: 20px;
      &:nth-of-type(1) {
        float: left;
      }
      &:nth-of-type(2) {
        
      }
      &:nth-of-type(3) {
        float: right;
      }
    }
  }
  
  line {
    stroke-width: 1;
    vector-effect: non-scaling-stroke;
    stroke: #002337;
  }
}